@charset "utf-8";
/* 아카이브 CSS - main.css */

html{
    scroll-behavior: smooth;
    /* #아이디명 스크롤 이동시 부드럽게 애니메이션 이동함! */
}


/* 상단영역 */
#top{
    position: fixed;
    width: 100%;
    /* 판타롱스타킹이니까 100%로 가로폭 확장해줘야함 */
    height: 300px;
    /* 상단영역 높이값을 300픽셀이라고 줌.......@.@ 그럼이제 나머지 각 박스들은 300픽셀보다 아래에 있으면 됨 */
    top: 0;
    left: 0;
    /* 얘보다 위에 뭐 없지만 위치값 잡아주기..... */
    /* 맨위로 올리기 */
    z-index: 999;
}

/********************** GNB 메뉴 **********************/
/* GNB박스에 width 크기를 주고 마영오! */
.gnb{
    width: 600px;
    margin: 0 auto;
}
/* ul 초기화 (3無) */
.gnb ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* li 옆으로 흐르게 */
.gnb li{
    float: left;
    text-align: center;
    width: 150px;
}

/* ul박스 가상요소로 clear 처리하기 */
.gnb ul::after{
    content: '';
    display: block;
    clear: both;
}

/* GNB a요소 셋팅 */
.gnb a{
    color: lime;
    text-decoration: none;

    font-size: 30px;
    text-shadow:
    1px 0 #000,
    -1px 0 #000,
    0 1px #000,
    0 -1px #000;
}

html,body{
    /* 마진,패딩 기본값 셋팅하기 */
    margin: 0;
    padding: 0;
    /* 높이 채우기(?) */
    height: 100%;
    /* 보이는 화면을 기준하여 높이값을 설정함
    ->직계 하위 자식요소가 높이값을 %로 설정할 때 body가 기준이 된다~ */
}
body{
    /* 패딩 탑 pt */
    /* padding-top: 50px; */
}
/* 페이지 박스: div니까 블록 박스임 */
.mybox{
    width: 100%;
    height: 100%;
    
    /* 배경이미지 (배경색과 다름~) bgi */
    background-image: url(../imgs/worksbg.jpg);
    /* 배경반복여부: bgr */
    /* 원래 배경이미지는 반복되게 되어 있으므로, 반복하지말라고 설정하기 */
    background-repeat: no-repeat;
    /* 배경 고정 bga ->고정의 기준은 보이는 화면임!! -> 화면은 고정되어 있는데 페이지가 넘어가니까 그거 따라서 계속 올라가느라고... 벗겨지는? 느낌이 남!*/
    background-attachment: fixed;
    /* 배경 위치: bgp */
    background-position: center;
    /* 배경 크기: bgz 채우기(cover)*/
    background-size: cover;
    /* 양쪽 마진이 오토면 양쪽을 등분해서 가로 중앙이 된다! */
}

/* 두번째 페이지 박스 */
.mbx2{
    background-image: url(../imgs/bg_mainvisual.jpg);
}

/* 페이지별 컨텐츠 박스 */
.pwrap{
    position: relative;
    top: 300px;
    height: calc(100% - 350px);
    /* 부모 높이값보다 300px만큼 조금 더 그 크기를 뺀 높이값은 calc()로 계산한다! */

    background-color: rgba(255, 255, 255, 0.500);
    /* 둥근 모서리 brad */
    border-radius: 20px;
    /* 가로 중앙 */
    /* 마영오!씨를 무대 중앙으로 모시겠습니다.ㅋㅋ */
    margin: 0 auto;
}


/* h1요소 */
.tit{
    /* 기본 마진 없앰 */
    margin: 0;
    /* 패딩 */
    padding: 20px;
    /* 글자 중앙 */
    text-align: center;
}

.mbx3{
    background-image: url(../imgs/img3.jpg);
}

.mbx4{
    background-image: url(../002.CSS학습/images/seoulCity.jpg);
}