@charset "utf-8";

/* 메뉴 버튼 모듈용 CSS - menubtn.css */




.menubtn{
    position: relative;
    max-width: 1320px;
    display: flex;
    margin: 0 auto;
    margin-top: 5vh;
    gap: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 30px;

    text-align: center;
}
.menubtn>div{
    /* flex-basis: 20%; */
    aspect-ratio: 1/1.7;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.701);
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
.imbx img{
    max-width: 100%;
    clip-path: polygon(0% 0%,100% 0%, 100% 80%,0% 100%);
}
.titbx{
    display: flex;
    flex-direction: column;
}
.titbx h3{
    padding: 6px 0;
    margin-bottom: 5px;
    font-size: 12px;
    color: #555;
}
.titbx h2{
    height: 100px;
    margin-bottom: 8px;
    padding: 20px;
}
.btnbx{
    margin-bottom: 30px;
}
.btnbx button{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: transparent;
    border: 1px solid #000;
    transition: .4s;

    cursor: pointer;
}
.btnbx button:hover{
    background-color: #0074eb;
    border-color: #0074eb;
    color: #fff;
}