@charset "utf-8";

/* Robot PJ 메인 CSS - Robot.css */

/* 초기화 */
html, body, h1, h2, p, ol, ul{
    margin: 0;
    padding: 0;
}

/* 공통 클래스 */
/* 메탈소재1 배경 */
.mt1{
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 메탈소재2 배경 */
.mt2{
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}
/* 공사중 표시 */
body *{
    outline: 2px dashed yellow;
}


/************************************************* 1.상단영역 *************************************************/
/* 2-1.로봇 박스 */
.robx{
    /* 상단에 속한 애들이 다 떠있는 애들이라서 위에서 고정?밀어줄?애가 필요해서 패딩으로 밀어냄;;; */
    padding: 200px 0 600px;
}

/* 로봇 머리 */
.head{
    position: relative;
    /* 마영오와 같은 것들이 먹혀야 하니까 스태틱한 설정을 할 수 밖에 없음! 그래서 렐러티브를 많이 주는 것임 */
    z-index: 1;
    /* 목보다 머리가 위에 올라오게 하기 위해 z인덱스 줌 */

    width: 250px;
    height: 150px;
    /* 마영오! */
    margin: 0 auto;
    
    /* 머리 둥글게 */
    /* border-radius: 30% 30% 45% 45%; */
}

/* 로봇 머리 직계 하위 div는 모두 앱솔루트! */
.head>div{
    position: absolute;
}

/* 로봇 머리에 가상요소로 머리털 박스 만들기 (이미지 찾아서 넣기) */
.head::before{
    content: '';
    display: block;
    position: absolute;
    /* 부모는? .head가 부모임 (가상요소도 자식임) */
    /* 머리카락 맨 위로 오게 하기 */
    z-index: 999;
    top: -149px;
    left: -99px;
    width: 431px;
    height: 272px;
    background: url(../images/hair.png) no-repeat center/100% 100%;
}

/* 머리박스에 오버시 가상요소가발 변경하기 */
.head:hover::before{
    top: -100px;
    left: -170px;
    width: 500px;
    height: 500px;
    background: url(../images/hair2.png) no-repeat 0/100% 100%;
}

/* 머리의 가상요소로 턱 만들기 */
.head::after{
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: #000;
    top: 100%;
    /* 100%의 의미 = 부모박스의 높이만큼 밀어준다 */
    z-index: -1;
    background: url(../images/metal01.jpg) no-repeat bottom/100%;
    
    /* 턱깎기 */
    clip-path: polygon(0 0,33.33% 100%,66.66% 100%,100% 0);
}


/* 눈 공통 */
.eye{
    width: 50px;
    height: 50px;
    
    /* 배경 공통(이미지만 다를뿐 다른 셋팅 똑같으니까) */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;  /* 백퍼 주면 강제로 늘림 */
    
    /* 둥근 모서리 */
    border-radius: 50%;
    /* 보더 이중선 */
    border: 4px double #000;
}
/* 왼눈 */
.e1{
    top: 50px;
    left: 50px;
    
    background-image: url(../images/e1.jpg);
}
/* 오른눈 */
.e2{
    top: 50px;
    right: 50px;
    
    background-image: url(../images/e2.jpg);
}
/* 코 */
.nose{
    top: 100px;
    left: 100px;
    
    width: 50px;
    height: 70px;
    
    background: url(../images/nose.jpg) no-repeat center/110% 100%;
    border-radius: 30px;
}
/* 입 */
.mouth{
    top: 190px;
    left: 89px;
    
    width: 70px;
    height: 30px;
    
    background: url(../images/mouth.png) no-repeat center/100% 100%;
    border-radius: 50px;
}

/* 입 옆에 별모양 점 가상요소로 만들기 */
.mouth::before, .mouth::after{
    content: '';
    display: block;  /* 디자인 잘 먹게끔 db주는 것임. 사실 poa를 주면 db 안줘도 먹히지만, 명시적으로 주는 것임 */
    position: absolute;
    top: -25px;
    right: -25px;
    /* 부모는? .mouth (마우스가 앱솔루트니까!) */
    
    width: 20px;
    height: 20px;
    background-color: gold;
    /* 삼각형 클리핑 속성으로 만들기 */
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
/* 
[ CSS 클리핑 속성 ]
- clip-path : polygon(x1 y1, x2 y2, ...)
->각 좌표쌍은 띄어쓰기로, 각 점은 콤마로 구분
->각 점을 연결하여 도형모양만 출력한다
->픽셀은 각 도형 크기 내부의 수치로 쓰고, 퍼센트는 도형을 기준한 위치를 %로 나타낸다
*/
.mouth::after{
    transform: rotate(180deg) translateY(-30%);
}


/* 귀 공통 */
.ear{
    width: 50px;
    height: 60px;
}


/* 왼귀 */
.er1{
    top: 100px;
    left: -50px;
    border-radius: 30% 0 30% 30%;
}
/* 귀걸이 */
.er1::before{
    content: '';
    display: block;
    position: absolute;
    top: 34px;
    left: 1px;
    
    width: 50px;
    height: 50px;
    background: url(../images/earing.png) no-repeat center/100% 100%;
}

/* 오른귀 */
.er2{
    top: 100px;
    right: -50px;
    border-radius: 0 30% 30% 30%;
}
/* 귀걸이 */
.er2::before{
    content: '';
    display: block;
    position: absolute;
    top: 34px;
    left: 1px;
    
    width: 50px;
    height: 50px;
    background: url(../images/earing.png) no-repeat center/100% 100%;
}




/******* 로봇몸통 ******/
.body{
    position: relative;
    /* 부모자격 - 하위 직계 div들 */
    width: 200px;
    height: 450px;
    /* 마영오 */
    margin: 0 auto;
    margin-top: 130px;  /* 중간애들은 다 마진으로밀면 된다 바깥으로 안나감 중간에 있어서 */
}

/* 몸통 하위 직계 div 모두 앱솔루트 */
.body>div{
    position: absolute;
}

/* 몸통 - 가상요소로 몸통 상단 만들기 */
.body::before{
    content: '';
    display: block;
    position: absolute;
    left: -50px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    /* 그라데이션 */
    background-image: linear-gradient(75deg, rgb(204, 58, 58), rgb(188, 110, 219), lime);
    /* 삼각형 클리핑 속성으로 만들기 */
    clip-path: polygon(0 0,10% 100%,90% 100%,100% 0);
}

/* 몸통 - 가상요소로 몸통 하단 만들기 */
.body::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -50px;
    width: 300px;
    height: 180px;
    background-color: #fff;
    background-image: linear-gradient(20deg, rgb(69, 99, 182), rgb(224, 120, 164), rgb(221, 219, 94));
    clip-path: polygon(10% 0,0 20%,0 50%,10% 100%,90% 100%,100% 50%,100% 20%,90% 0);
}

/* 목 */
.neck{
    top: -29px;
    left: 65px;
    width: 70px;
    height: 50px;
    border-radius: 0 0 25px 25px;
    border-bottom: 8px dotted cyan;
}

/* 팔 공통 */
.arm{
    top: 4px;
    width: 80px;
    height: 210px;
    z-index: -1;
    border-radius: 50px;

    /* 공통 회전축 변경 : 가로중앙 세로15% 지정 */
    transform-origin: center 15%;
    /* 위의설정 : 가로는 center, 세로는 top임 */
}

/* 팔 공통 가상요소 연결부분(팔꿈치, 팔꿈치내부박스) */
.arm::before, .arm::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -35px;
    z-index: 1;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: rgb(209, 19, 136);
    border: 4px solid #333;
    box-sizing: border-box;
    /* 보더때문에 박스 사이즈가 커지니까, 그러지 않도록 bxb 준 것임 (보더, 패딩포함 크기 유지) */
}

/* 연결부분(팔꿈치) 내부 박스  */
.arm::after{
    transform: scale(.8);
    background-image: linear-gradient(-75deg, rgb(88, 88, 88), rgb(235, 235, 235), rgb(160, 158, 158));
    /* 선형 그라데이션 */
}


/* 팔 하단 */
.arm span{
    position: absolute;
    /* 부모는? .arm */
    top: 100%;
    left: 5px;
    display: block;
    /* 스팬은 인라인요소라서 w,h안먹히니까 블록으로 만들어주기 */
    width: 70px;
    height: 190px;
    border-radius: 50px;

    /* 공통 회전축 변경 */
    transform-origin: top;
    /* 위의설정 : 가로는 center, 세로는 top임 */
}

/* 팔하단 가상요소로 손목 만들기 */
.arm span::before{
    content: '';
    display: block;
    position: absolute;
    top: 160px;
    left: 8px;
    z-index: 1;
    width: 55px;
    height: 55px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
    border-radius: 40%;
}

/* 팔하단 가상요소로 손박스 만들기 */
.arm span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -135px;
    width: 90px;
    height: 125px;
    /* outline: 2px dashed lime; */

    /* 회전축 변경 : 세로방향 top*/
    transform-origin: top;
}


/* 왼쪽손 배경이미지 */
.a1 span::after{
    background: url(../images/hand_left.png) no-repeat center/100%;
    left: -5px;
    transform: rotate(-10deg);
}

/* 오른쪽손 배경이미지 */
.a2 span::after{
    background: url(../images/hand_right.png) no-repeat center/100%;
    right: -5px;
    transform: rotate(-10deg);
}

/* 왼팔 */
.a1{
    left: -90px;
    transform: rotate(15deg);
}
/* 왼팔 하단 */
.a1 span{
    transform: rotate(-15deg);
}
/* 오른팔 */
.a2{
    right: -90px;
    transform: rotate(-15deg);
}
/* 오른팔 하단 */
.a2 span{
    transform: rotate(15deg);
}

/* 어꺠 공통 */
.shd{
    width: 90px;
    height: 96px;
    top: -19px;
    border-radius: 50%;
}
/* 왼어깨 */
.s1{
    left: -97px;
    transform: rotate(-347deg);
}
/* 오른어깨 */
.s2{
    right: -97px;
    transform: rotate(347deg);
}

/* 다리 공통 */
.leg{
    top: 90%;
    /* 부모박스 높이만큼 아래로 밀어냄 */
    width: 90px;
    height: 300px;
    z-index: -1;
    border-radius: 50px;

    /* 공통 회전축 변경 : 가로중앙 세로15% 지정 */
    transform-origin: center 15%;
    /* 위의설정 : 가로는 center, 세로는 top임 */
}
/* 다리 공통 가상요소로 연결부분 만들기 */
.leg::before,
.leg::after{
    content: '';
    display: block;
    /* db를 줘야 디자인 요소 줄 수 있음 */
    position: absolute;
    bottom: -40px;
    left: 8px;
    z-index: 1;
    width: 70px;
    height: 70px;
    background-color: rgb(147, 212, 35);
    border: 4px solid #333;
    border-radius: 20px;
    transform: scaleX(.8) rotate(45deg);
    /* 트랜스폼 : 먼저 x축 축소하고 회전
    ->무엇을 먼저 했느냐에 따라 결과 달라짐! */

}
.leg::after{
    transform: scale(.65, .8) rotate(45deg);
    /* 선형 그라데이션 */
    background-image: linear-gradient(-75deg, #222 10%, #ccc 60%, #eee);
}

/* 다리하단 공통 */
.leg span{
    position: absolute;
    /* 부모는? .leg */
    top: 100%;
    left: 5px;
    display: block;
    /* 스팬은 인라인요소라서 w,h안먹히니까 블록으로 만들어주기 */
    width: 80px;
    height: 250px;
    border-radius: 50px;
}

/* 다리하단 가상요소로 발만들기 */
.leg span::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    left: -15px;
    width: 100px;
    height: 50px;
    border-radius: 40px 40px 0 0;
    border: 4px solid #222;
    border-bottom: 20px solid #222;

    /* 선형 그라데이션 */
    background-image: linear-gradient(-45deg, #222 10%, rgb(158, 146, 228) 60%, #eee);

}
/* 다리 하단 가상요소로 부츠 만들기 */
.leg span::before{
    content: '';
    display: block;
    position: absolute;
    top: 140px;
    left: -6px;

    width: 80px;
    height: 100px;
    border: 4px solid #222;
    border-top: 20px solid #222;

    /* 선형 그라데이션 */
    background-image: linear-gradient(-45deg, #222 10%, rgb(158, 146, 228) 60%, #eee);

}

/* 왼다리 */
.l1{
    left: -10px;
}
/* 오른다리 */
.l2{
    right: -10px;
}


/* tv */
.tv{
    top: 50px;
    left: 10px;
    width: 180px;
    height: 138px;
    background: url(../images/tv.jpg) no-repeat center/cover;
    border-radius: 5px;
}
/* 스크린 */
.screen{
    position: absolute;
    top: 14px;
    left: 7px;
    width: 133px;
    height: 100px;
    border-radius: 15px;
    background-color: #000;
    /* 자식요소 아이프레임 넘치는 부분 숨기기 */
    overflow: hidden;
}
/* 동영상 iframe */
.screen iframe{
    position: absolute;
    top: 0px;
    left: -19px;
    width: 174px;
    height: 100px;
    /* 아이프레임 기본 보더 없앰 */
    border: none;
}

/************************** 3.하단영역 *******************************/

