@charset "utf-8";
/* 웹폰트, 공통클래스 셋팅 CSS - core.css */

/* 웹폰트 CDN */
@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&family=Single+Day&family=ZCOOL+KuaiLe&display=swap');
/* 
    1. 캐릭터 설명 제목체
    font-family: 'Gugi', cursive;
    2. 캐릭터 설명 내용체
    font-family: 'Single Day', cursive;
    3. 캐릭터 설명 한자체
    font-family: 'ZCOOL KuaiLe', cursive;
    4. 전체 공통체(메뉴 등)
    font-family: 'Nanum Gothic', sans-serif;
*/

/* 전체 웹폰트 적용하기 */
body{
    /* 출력 영역의 최상위 부모가 바디니까 여기에다가 적용시키는 것임 */
    font-family: 'Nanum Gothic', sans-serif;
}

/* 중앙 속박스 클래스 */
.ibx{
    max-width: 1200px;    /* maw */
    /* 1200px을 유지하다가 이것보다 작아지면 auto로 가로크기가 전환되어 가로 스크롤이 안 생기게 됨! */
    margin: 0 auto;
}

/* 스크롤바 디자인 클래스 */
/* -webkit- 밴더사명(크롬, 사파리) 접두어 사용함! */
/* (참고: 접두어의 종류로는 -ms-(ie), -o-(오페라), -moz-(파이어폭스) 가 있음) */
/* 클래스명 scbar */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기(폭임)변경 */
    width: 7px;
}

.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 변경 */
    background-color: #555;
    border-radius: 5px;
}

.scbar::-webkit-scrollbar-track{
    /* 스크롤바트랙 (스크롤바가 다니는 길) 변경 */
    background-color: #ddd;
    border-radius: 5px;
}

/* 배경이미지 설명 넣기 숨기기 클래스 - IR(Image Replacement) */
.ir{
    display: block;
    /* 디자인요소(크기 등)먹히게 만들기 위해 db줌 */
    width: 0;
    height: 0;
    overflow: hidden;
    /* 디스플레이:넌 하면 리더기가 못읽으니까~ 이렇게 처리하는 것임 */
}